:root {
    --primary_background: #392EC9;
    --secondary_background: #463BD7;
    --main_background: #ffffff;
    --promo: #EB214E;
    --dark: #000000;
    --light: #ffffff;
    --hover_transition: 300ms;
}
