.create {
    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: max-content;
        min-width: 400px;
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        &-name {
            font-size: 18px;
            font-weight: 500;
        }

        &-preview {
            display:none;
            max-width: 100%;
            max-height: 300px;
            height: auto;
            margin-top: 10px;
        }
        &-skills {
            width: 100%;
        }

        &-skill {
            display: grid;
            grid-template-columns: 1fr max-content;
            gap: 10px;

            &-input {
                grid-column: 1/2;
            }

            &-textarea {
                grid-column: 1/2;
            }

            &-button {
                grid-row: 1/2;
                grid-column: 2/3;
            }
        }
    }

}
