@import '@resources/css/reset';
@import '@resources/css/normalize';
@import '@resources/css/admin/ui';
@import '@resources/css/admin/variables';

body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.admin {
    display: flex;
    height: 100vh;

    &__section {
        padding: 50px 20px;
        width: 100%;
        height: 100%;
        overflow: auto;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

        }
    }
}

.tab {
    display: none;

    &.active {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-links {
        display: flex;
        align-items: center;
        gap: 1px;

        &__link {
            font-size: 16px;
            font-weight: 500;
            color: var(--dark);
            padding: 5px 20px;
            border: 1px solid var(--primary_background);
            border-radius: 3px;

            &.active {
                color: var(--light);
                background-color: var(--primary_background);
            }
        }
    }
}
